# AI Keys
# LLMs
OPENAI_API_KEY="key here"
GOOGLE_AI_API_KEY="key here"
ANTHROPIC_API_KEY="key here"
# TTS
ELEVENLABS_API_KEY="key here"
NEETS_API_KEY="key here"
# Image
PEXELS_API_KEY="key here"

# Server Config
SERVER_RES_PATH="res"
SERVER_TEMP_PATH="video_temp"
SERVER_IP="localhost"
SERVER_PORT=3001
